.main-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: default;
}
.main-title::before,
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #2196f3;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.dots{
    background-image: url(../imgs/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
@media (max-width: 1449px){
    .dots{
        display: none;
    }
}
.dots-up{
    top: 200px;
    right: 0;
}
.dots-down{
    bottom: 200px;
    left: 0;
}
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }
}
.floating_btn{
    box-shadow: -1px 2px 4px #656565;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #2196f3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0.5;
    z-index: 999;
}
@media (max-width: 920px){
    .floating_btn{
        display: none;
    }
}
.floating_btn a i{
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 30px;
    right: 29px;
    color: white;
    font-size: 25px;
}
.floating_btn:hover{
    opacity: 1;
}